#controls {
  background-color: #4285f4;
  overflow: auto;
  -webkit-app-region: drag;
}

#controls i {
  color: #fff;
  float: right;
  padding: 5px 15px;
  -webkit-app-region: no-drag;
  &:hover {
    background-color: #71A3F7;
  }

  &#close-btn:hover {
    background-color: #D13F31;
  }
}

